footer {
    background: rgb(80, 85, 90);
}

.footer-top h1 {
    color: #fff;
    padding-bottom: 3%;
    font-size: x-large;
}

.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    text-align: center
}

.footer-icons {
    display: flex;
    width: 45%;
    justify-content: space-evenly;
}

.footer-bottom {
    background: #1f1e1e;
}

.footer-bottom p {
    color: #91BEC2;
    padding: 15px 0;
    text-align: center
}

a:link {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a:active {
    color: #fff;
    text-decoration: none;
}