body{
    overflow-x: hidden;
}
.intro{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23869C;
    width: 100vw;
    height: calc(98vh - max(10vh,4.5rem) );
    font-size: large;
}

.intro__welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.intro__welcomeTxt{
    width:50%;
}
.intro__image{
    z-index: 2;
}

.products{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 100vh;
    text-align: center;
}
.sellStatus{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #23869C;
    padding-bottom: 20px;
}
.sellStatus__item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    transition: all 350ms ease-in-out;
    z-index: 2;
}
.card:hover{
    box-shadow: 2px 2px 20px black;
}
.sellStatus__item:hover{
    box-shadow: 2px 2px 10px white;
}
.sellStatus__item__img{
    width: 100%;
    border-right: .5px solid rgb(119, 117, 117);
}
.wavy{
    position: absolute;
    bottom: 0;
    z-index: 0;
    height:30vh;
    width:100%;
}