<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Anouncements</title>
    <th:block th:include="fragments/head.html :: head" />
</head>

<body>

    <div th:replace="fragments/nav.html :: adminNav"></div>

    <div class="container-fluid text-center">
        <h1>List of Anouncements </h1>
        <div class="mr-2">
            <a class="h2 btn btn-primary btn-md" th:href="@{/admin/newAnouncement}">Add new Anouncement</a>
        </div>
        <div th:if="${message}" class=" alert alert-success text-center ">
            [[${message}]]
        </div>
        <table class="table table-bordered ">
            <thead class="table-dark ">
                <tr>
                    <th scope="col ">#</th>
                    <th scope="col ">Subject</th>
                    <th scope="col ">message</th>
                    <th scope="col ">date</th>
                    <th scope="col ">Action</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each=" anouncement : ${anouncementLists} ">
                    <tr>
                        <td>[[${anouncement.getAnouncementId}]]</td>

                        <td>[[${anouncement.getSubject}]]</td>
                        <td>[[${anouncement.getMessage}]]</td>
                        <td>[[${anouncement.getSentDate}]]</td>
                        <td>
                            <a class="h3 mr-3 btn btn-primary " th:href="@{ '/admin/editAnouncement/' + ${anouncement.getAnouncementId}} ">EDIT</a>
                            <a class="h3 mr-3 btn btn-danger " th:href="@{ '/admin/deleteAnouncement/' + ${anouncement.getAnouncementId}} ">DELETE</a>
                        </td>

                    </tr>
                </th:block>

            </tbody>
        </table>

    </div>
    <div th:replace="fragments/footer.html :: footer"></div>
    <th:block th:replace="fragments/script :: script" />
</body>

</html>