<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#" th:action="@{/admin/generateCode}" method="post">
        <label for="Admin">Admin</label>
        <input type="checkbox" name="id1" value = "1" id="Admin"><br>
        <label for="Distributer">Distributer</label>
        <input type="checkbox" name="id2" value = "2" id="Distributer"><br>
        <label for="Customer">Customer</label>
        <input type="checkbox" name="id3" value = "3" id="Customer"><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>