<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Consumtion</title>
    <th:block th:include="fragments/head.html :: head" />

</head>

<body>
    <div th:replace="fragments/nav.html :: adminNav"></div>

    <h4>[[${user.getUsername}]]</h4>

    <div class="container-fluid" th:each="product : ${products}">
        <form method="post" th:action="@{distr/user/{userId}(userId=${user.getUserId})}" style="max-width: 500px; margin: 0 auto;">
            <h4>[[${product.getProductName}]]</h4>

            <label class="col-sm-4 col-form-label ">amount</label>
            <input type="number" class="form-control" name="amount" placeholder="amount" />
            <input type="number" name="productId" value="${product.getProductId}" hidden>

            <button class="btn btn-primary m-2" type="submit">Sold</button>
        </form>
    </div>

    <div th:replace="fragments/footer.html :: footer"></div>
    <th:block th:replace="fragments/script :: script" /></body>

</html>