<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<head>
    <th:block  th:include="fragments/head.html :: head"/>


    <title>Contact us</title>
</head>
<body>

    <div th:replace="fragments/nav.html :: navbar"></div>

    

    <main style="margin-top: max(5vh, 50px); margin-bottom: max(5vh, 20px) " class="Contact mx-auto w-50">
        <h1><strong style="color:rgb(17, 116, 103);">Send us Feedback</strong></h1>
        <div th:if="${er}" class = "alert alert-danger text-center">
            [[${er}]]
        </div>
        <div th:if="${message}" class = "alert alert-success text-center">
            [[${message}]]
        </div>
        <div th:if="${success}" class = "alert alert-success text-center">
            [[${success}]]
        </div>
        <form method="post" action="#" th:action="@{/contactUs}">

            <label class="form-label" for="fullname">Full Name</label>
            <input type="text" class="form-control" id="fullname" name="fullname" placeholder="full name" />
            <label class="form-label" for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="email@gmail.com" />
            <label class="form-label" for="UserMessage">Message</label>
            <textarea type="text" class="form-control" id="fullname" name="UserMessage" placeholder="message" rows="5"></textarea>

            <button class="w-100 btn btn-lg btn-primary my-2" type="submit">Send</button>
        </form>
    </main>
    <div th:replace="fragments/footer.html :: footer"></div>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>


    <script src="js/menu.js"></script>

</body>

</html>