<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="fragments/head.html :: head" />

</head>
<body>
    <div th:replace="fragments/nav.html :: adminNav"></div>

    <div th:each="message:${messagelist}" class="row">
        <div class = "col-6">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title"> name: [[${message.getFullname}]] </h5>

                <h6 class="card-subtitle mb-2 text-muted"> start date: [[${message.getSentDate}]]</h6>
                <p class="card-text">S[[${message.getUserMessage}]]</p>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer.html :: footer"></div>
    <th:block th:replace="fragments/script :: script" />
</body>
</html>