<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

</head>
<body>
    <th:block th:each="user : ${users} ">
        <div class="card">
            <div class="card-body">
                <h4>[[${user.getFirstName}]] &ThickSpace; [[${user.getLastName}]]</h4><br>
                <h5>[[${user.getPhone}]]</h5>
            </div>
            <div class="card-footer">
                <a th:href="@{/distr/user/{userId}(userId=${user.getUserId})}"> detail </a>
            </div>
        </div>
    </th:block>

</body>
</html>