<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
</head>
<body>

      <div th:replace="fragments/nav.html :: normalNav"></div>

<div class="container">


                  
<div th:each="product:${productlist}" hidden class="row">
    <div class = "col-6">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title"> name: [[${product.getProductName}]] <span>$[[${product.getPrice}]]</span> </h5>

            <h6 class="card-subtitle mb-2 text-muted"> start date: [[${product.getStartDate}]] &Tab;&Tab; [[${product.getEndDate}]]</h6>
            <p class="card-text">S[[${product.getProductDesc}]]</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer.html :: footer"></div>

</body>

</html>