<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
   

      <th:block  th:include="fragments/head.html :: head"/>
<title>Home User</title>
</head>
<body>

      <div th:replace="fragments/nav.html :: normalNav"></div>

<div class="container">


            <p th:each="product:${product}" hidden>
                  <p>
                        Hello there we have received <p th:text="${product.productDesc}"></p>
                 
                 which will be sold from <span th:text="${product.startDate}"></span> to <span th:text="${product.endDate}"></span>
                  </p>
</div>

</body>

<div th:replace="fragments/footer.html :: footer"></div>

    <th:block th:replace="fragments/script :: script"/></html>